.chat-box {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 500px;
  background-color: gray;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.text-container {
  flex-grow: 1;
  padding: 0px 10px;
  height: 100%;
  overflow-y: auto;

  :first-child {
    padding-top: 10px;
  }

  .text {
    display: flex;
    width: 100%;
    word-break: break-all;

    &:hover {
      background-color: darkgray;
    }
  }
}

.text-box {
  display: flex;
  padding: 5px;

  input {
    height: 20px;
    flex-grow: 1;
  }

  button {
    height: 26px;
    line-height: 6px;
  }
}